.customSelect {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.select {
    width: 258px;
    margin: 0 0 12px 12px;
    font-size: 18px;
    height: 35px;
    line-height: 21px;
    padding: 8px 10px;
    border: none;
    padding-right: 15px;
    appearance: none;
    border-radius: 8px;
   
}
.selectButton{
    width: 85px;
    background: none;
	border: none;
	appearance: none;
	font-size: 18px;
	color:#5E6C84;
	cursor: pointer;
    margin-left: 12px ;
}
.selectButtonDisabled {
    width: 85px;
    background: none;
	border: none;
	appearance: none;
	font-size: 14px;
	color:#8590a1;
}

.customArrow {
    top: 12px;
    right:30px;
    cursor: pointer;
    position: absolute;

}
.optionWrapper {
    width: 255px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    margin-left: 12px;
    margin-top: 5px;
    :hover {
        background: #dedede;
        cursor: pointer;

}}
.taskSelect {
   font-size: 16px;
   border: none;
   border-radius: 8px;
   padding: 6px;
}