.customSelect {
    position: absolute;
}
select {
    width: 258px;
    margin-left: 12px;
    font-size: 18px;
    line-height: 21px;
    padding: 8px 10px;
    border: none;
    padding-right: 15px;

    appearance: none;
   
}
.customArrow {
    position: inherit;
   width: 15px;
    top: 12px;
    right: 11px;
    cursor: pointer;
    margin-left: 14px;

}
.optionWrapper {
    width: 258px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin-left: 12px;
    margin-top: 5px;
    :hover {
        background: #dedede;
        cursor: pointer;

}}
.taskSelect {
    max-width: 240px;
    font-size: 18px;
    line-height: 21px;
    padding: 7px 9px 7px 8px;
    background: #ffffff;
    border: 1px solid #ffffff;
}